* {
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid red;
}

.header-link  {
    display: flex;
    justify-content: flex-end;
}

header a {
    margin-right:1rem;
}

#last-link {
    margin-right:12rem;
}

header h4{
    padding:0;
    border:0;
    margin:0;
    margin-right:70rem;
}

.box {
    height:50px;
    width:50px;
    border: 2px;
    border-color:black;
    border-style: solid;
}

.parent-box {
    display:flex;
    justify-content: center;
    align-items:center;
}

.info-paragraph {
    display: flex ;
    flex-direction:column;
    margin-left: 10.2rem;
    margin-top:1.5rem;
}

.info-paragraph p {
    width: 400px;
}

.sign-up-button {
    height:30px;
    width:90px;
}

#subtext {
    display:flex;
    margin-left: 40rem;
}

#subtext p {
    margin:1rem;
    font-size: small;
}

.parent-box .box {
    margin:1rem;
    height: 120px;
    width:120px;
}

#random-info {
    justify-content: center;
    align-items: center;
    margin-left: 50rem;
}