* {
    font-family: 'Times New Roman', Times, serif;
    border: 1px solid red;
}

header {
    background-color: #1F2937;
    color: #F9FaF8;
    height:400px;
}

.header-link  {
    display: flex;
    justify-content: flex-end;
    font-size: 24px;
}

header a {
    margin-right:1rem;
    color: #E5E7EB;
    font-size: 18px;
}

#last-link {
    margin-right:12rem;
}

header h4{
    padding:0;
    border:0;
    margin:0;
    margin-right:70rem;
}

.box {
    height:50px;
    width:50px;
    border: 2px;
    border-color:black;
    border-style: solid;
}

.parent-box {
    display:flex;
    justify-content: center;
    align-items:center;
}

.info-paragraph {
    display: flex ;
    flex-direction:column;
    margin-left: 10.2rem;
    margin-top:1.5rem;
    font-size:28px;
    width:450px;
    align-items:flex-start;
}

.info-paragraph p {
    width: 500px;
    font-size:18px;
    margin:0rem;
}

.sign-up-button {
    height:30px;
    width:90px;
    background-color:#3882F6;
    border-radius:10%;
}

#subtext {
    display:flex;
    margin-left: 40rem;
}

#subtext p {
    margin:1rem;
    font-size: small;
}

.parent-box .box {
    margin:1rem;
    height: 120px;
    width:120px;
    border-radius:10%;
    border-color:#3882F6;
}

#random-info {
    justify-content: center;
    align-items: center;
    margin-left: 50rem;
}